<html>
  <head>
    <title>About Zambia</title>
    <link rel="stylesheet" href="./mycss.css">
  </head>

  <body>
      <ul class="navbar">
          <li class = "nav-li"><a href="/">Home</a></li>
          <li class = "nav-li"><a href="about">About</a></li>
          <li class = "nav-li"><a href="foods">Food</a></li>
          <li class = "nav-li"><a href="sites">Tourist Attractions</a></li>
      </ul>
    <div>
      <h1> About Zambia </h1>
        <p> Zambia, officially the Republic of Zambia, is a landlocked country in South-Central Africa
            neighbouring the Democratic Republic of the Congo to the north, Tanzania to the north-east, 
            Malawi to the east, Mozambique to the southeast, Zimbabwe and Botswana to the south, Namibia 
            to the southwest, and Angola to the west. The capital city is Lusaka, in the south-central part of Zambia. 
            The population is concentrated mainly around Lusaka in the south and the Copperbelt Province to the northwest, 
            the core economic hubs of the country.</p>
      
        <h2>Zambia at a glance</h2>
          <h3>Facts about Zambia</h3>
            <table>
              <tr>
                <th>Fact</th>
                <th>Value</th>
              </tr>
              <tr>
                <td>National language</td>
                <td>English</td>
              </tr>
              <tr>
                  <td>Dominant Religion</td>
                  <td>Christianity</td>
              </tr>
              <tr>
                <td>Population</td>
                <td>15 510 711</td>
              </tr>
            </table>
    </div>
  </body>
</html>