<html>
  <head>
    <title>Popular foods</title>
    <link rel="stylesheet" href="./mycss.css">
  </head>

  <body>
      <ul class="navbar">
          <li class = "nav-li"><a href="/">Home</a></li>
          <li class = "nav-li"><a href="about">About</a></li>
          <li class = "nav-li"><a href="foods">Food</a></li>
          <li class = "nav-li"><a href="sites">Tourist Attractions</a></li>
      </ul>
    <div>
      <h1> Popular foods in Zambia </h1>
        <ol>
          <li>Nshima (Ubwali)</li>
          <li>Sweet Potatoes</li>
          <li>Maize</li>
          <li>Rice</li>
        </ol>
    </div>
  </body>
</html>