<html>
  <head>
    <title>Beautiful Zambia</title>
    <link rel="stylesheet" href="./mycss.css">
  </head>
  <body>
      <ul class="navbar">
          <li class = "nav-li"><a href="/">Home</a></li>
          <li class = "nav-li"><a href="about">About</a></li>
          <li class = "nav-li"><a href="foods">Food</a></li>
          <li class = "nav-li"><a href="sites">Tourist Attractions</a></li>
      </ul>
    <div>
      <h1>Zambia - The Real Africa!</h1>
      <h2>Are you looking for an experience of a lifetime ...</h2>
      <ul>
        <li>Have you been searching for that one breathtaking experience that will add meaning to your life
          and give you a sense of purpose?</li>
        <li>Do you have a long bucket list and need to go somewhere that will allow you to knock off a lot off your bucket list?</li>
      </ul>

      <a href="sites">
          <h3>We have the answer you are looking for - <strong>Visit Zambia</strong></h3>
        <img src="will.jpg">
      </a>
    </div>
  </body>
</html>
