<html>
  <head>
    <title>Tourist Attractions</title>
    <link rel="stylesheet" href="./mycss.css">
  </head>

  <body>
      <ul class="navbar">
          <li class = "nav-li"><a href="/">Home</a></li>
          <li class = "nav-li"><a href="about">About</a></li>
          <li class = "nav-li"><a href="foods">Food</a></li>
          <li class = "nav-li"><a href="sites">Tourist Attractions</a></li>
      </ul>
    <div>
      <h1>What you can do in Zambia</h2>
      <h2>Victoria Falls</h2>
      <img src="victoria.jpg">

      <h2>Swim on the edge of the Victorial falls</h2>
      <img src="edge.jpg">

      <h2>Bungee jumping</h2>
      <img src="bungee.jpg">

      <a href="foods">
        <h2>Eat Nshima</h2>
        <img src="ubwali.jpg">
      </a>
    </div>
  </body>
</html>